html {
  font-size: 18px;
  line-height: 1.4;
}
.photobanner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
}
.container {
  width: 960px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border: 1px solid black;
}

.header {
  width: inherit;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  border: 1px solid red;
}
.logo{
  display: flex;
  align-items: center;
}
.header img{
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}
.navbar span{
  padding-right: 2rem;
}
