html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}
.photobanner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.header {
  width: 960px;
  height: 3.5rem;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}
.logo{
  display: flex;
  align-items: center;
}
.header img{
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;

}
.menu{
  display: none;
}
.navbar span{
  padding-right: 2rem;
}
.See{
  margin-top: 10rem;
  margin-left: 415px;
  padding: 1.5rem 5rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  background-color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  justify-content: center;
  width: 960px;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 6rem;

}
.icon span{
  text-align: center;
  line-height: 1.5;
}
.paper{
  width: 3.5rem;

}
.ruler{
  width: 5rem;
}
.truck{
  width: 5rem;
}
.text{
  display: flex;
  flex-direction: column;
    width: 35%;
}
.text.left{
  margin-right: 5%;
}
.text span{
  background-color: cadetblue;
  color: white;
  width: 10rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;

}
.text p{
  padding-top: 1rem;
}
.box.footer{
  margin-top: 5rem;
  background-color: azure;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;

}
.footer img{
  height: 1.5rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 768px){
.header{
  margin-top: 0;
  width: 100%;
}
.box{
  width: 100%;
}
.photobanner{
  height: 22rem;
}
.See{
  margin-top: 5rem;
  margin-left:auto;
  margin-right: 2rem;
  font-size: 1.33rem;
  padding: 0.75rem 4rem;
}
}
@media only screen and (max-width: 480px){
.photobanner{
  background-position: 20%;
  height: 17rem;
}
.See{
  margin-top: 9rem;
  margin-right: auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;

}

.menu{
  display: block;
}
.navbar nav{
  display: none;
}
.fdbreak{
  display: none;
}
.icon{
  flex-direction: column;
  margin-bottom: 1.54rem;

  width: 100%;
}

.box{
width: 100%;
display: block;
}
.box.mobile-pics{
  width: 100%%;
  padding-top: 3.77rem;
  padding-bottom: 2.23rem;
  font-size: 0.77rem;
  font-family: Helvetica;

}
.text{
  width: 100%;
}
.text span{
  width: auto;
}
.text p{
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 0.75rem;
}
.box.footer{
  justify-content: center;
}
.copyright{
  display: none;
}

}
